extends layout
block menu
  if user
    if user.isMember
      li
        a(class="buttonMenu" href="/message/create") Add New Message
      li
        a(class="buttonMenu" href=`/member/${user.id}/update`) Update Profile
      li
        a(class="buttonMenu" href="/members") See Members
    else
      li
        a(class="buttonMenu" href=`/member/${user.id}/upgrade`) Become Member
    li
      a(class="buttonMenu" id="logOut" href="/member/logout") Log Out
  else
    li
      a(class="buttonMenu" href="/member/create") Sign Up
    li
      a(class="buttonMenu" href="/member/login") Log In

block content 
    h1.pageTitle= title 
    div.formContainer2
      img.icon(src=user.profile_pic)
      form(action="" method="POST")
        div.formContent
          label.formLabel(for="title") Title
          input.formElement(id="title" name="title" placeholder="Message Title" type="text" value=(undefined===message ? '' : message.title))
          label.formLabel(for="message") Message
          if message
            textarea.formElement(id="message" name="message" placeholder="Message").innerHTML= message.message
          else 
            textarea.formElement(id="message" name="message" placeholder="Message")
          if errors
            for error in errors
              div(class="error")!= error.msg
          button.buttonMenu2 Confirm